@include main;

h1, h2, h3{
	color: #ffffff;
	text-align: center;
}

h2{
	font-size: 30px;
	padding-bottom: 20px;
	margin-top: 0;
	font-weight: 300;
}

h3{
	font-size: 18px;
	text-transform: uppercase;
	margin: 15px;
}

p{
	color: #ffffff;
	display: inline-block;
}

.container {
	padding: 50px 0;
}

section:nth-child(odd){
	background-color: $bg_color_dark;
}

section:nth-child(even){
	background-color: $bg_color_light;
}