.map-section{
	position: relative;
	background-image:url('../../assets/images/googlemap.png');
	height: 400px;
	width: 100%;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center top;
}