@include tablet {
	header{
		height: 115px;
		background-color: $bg_color_light;

		.main-navbar{
			display: none;
		}

		.header-logo{
			padding: 0;

			img{
				position: absolute;
				top: 25px;
				left: 25px;
			}
		}

		.menu-button{
			display: block!important;
			background-color: $bg_color_dark;
			border: 0;
			color: transparent;
			cursor: pointer;
			z-index: 999;
			height: 65px;
			width: 65px;
			position: absolute;
			// position: fixed;
			outline: none;
			top: 25px;
			right: 25px;

			span{
				display: block;
				position: absolute;
				height: 3px;
				width: 32px;
				background-color: $light_text_color;
				opacity: 1;
				left: 16px;

				&:first-child{
					top: 20px;
					transform-origin: left center;
				}

				&:nth-child(2){
					top: 31px;
				}

				&:nth-child(3){
					bottom: 20px;
				}
			}

			&:hover{
				background-color: $bg_blue_color;
			}

			&:focus{
				outline: none;
			}
		}

		.main-navbar{
			background-color: $bg_blue_color;			
			width: 100%;
			padding: 0 40px;
			height: 100%;
			z-index: 1001;
			line-height: 1.785714285;
			position: absolute;
			right: 90px;
			// position: absolute;
			// margin-right: 150px;
			// right: calc(-60px);
			overflow: visible;

			.menu{
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				display: block;
				z-index: 1000;

				ul{
					text-transform: none;
					font-size: 25px;
					font-weight: 300;
					letter-spacing: 2px;
					transform: translate3d(0,100%,0);
					transition: transform 0s cubic-bezier(.7,0,.3,1) .4s;

					li{
						display: block;
						padding-top: 8px;
						padding-bottom: 8px;
						z-index: 3;
						text-align: left;
						position: relative;

						// width: 100%;

						&:hover{
							opacity: 0.7;
						}	

						.active{
							color: #fff;
						}

						img{
							display: inline-block;
							width: 20px;
							vertical-align: middle;
							margin-bottom: 5px;
							margin-right: 10px;
							margin-left: 10px;
						}

						a{
							color: #fff;

							&:hover{
								color: #fff;
								// opacity: 0.5;
							}
						}			
					}
				}
			}

			.dropdown{
				display: none;
			}
		}
	}

	header.show-menu{

		.menu-button{
			background-color: $bg_blue_color;
			transition-property: all;
			transition-duration: 0.15s;
			transition-timing-function: linear;
			transition-delay: initial;

			&:hover{
				background-color: $bg_color_dark;
			}

			span:first-child{
				transform: rotate(45deg);
	    		top: 20px;
	    		left: 20px;
			}

			span:nth-child(2){
				display: none;
			}

			span:nth-child(3){
				transform: rotate(-45deg);
	   			bottom: 30px;
			}
		}

		.main-navbar{
			display: block;
			transition: transform .4s cubic-bezier(0.7, 0, 0.3, 1) .15s;

			ul{
				transform: translateZ(0);
				transition: transform .8s cubic-bezier(.7,0,.3,1);

				li{
					transition-duration: .1s linear;
					transition-timing-function: linear;

					&:hover{
						img{
							margin-left: 0px;
							margin-right: 20px;
						}
					}
				}
			}
		}
	}

	.competence-content{
		.scene{
	  		height: 300px;
		}

		.col-12, .col-sm-12{
			padding: 15px;
		}

		.col-md-6{
			padding: 10px;
		}
	}

	.gallery-content{
		.carousel-item{
			width: 100%;
		}

		.col-md-4{
			flex: 0 0 100%;
			max-width: 100%;
		}

		.carousel-inner{
        	max-height: 289px;
   		}
	}
}

@include mobile {

}