@include tablet {
	header{
		height: 115px;
		background-color: $bg_color_light;

		.main-navbar{
			display: none;
		}

		.header-logo{
			padding: 0;

			img{
				position: absolute;
				top: 25px;
				left: 25px;
			}
		}

		.menu-button{
			display: block!important;
			background-color: $bg_color_dark;
			border: 0;
			color: transparent;
			cursor: pointer;
			height: 62px;
			width: 62px;
			position: absolute;
			outline: none;
			top: 25px;
			right: 25px;

			span{
				display: block;
				position: absolute;
				height: 3px;
				width: 31px;
				background-color: $light_text_color;
				opacity: 1;
				left: 15px;

				&:first-child{
					top: 18px;
					transform-origin: left center;
				}

				&:nth-child(2){
					top: 29px;
				}

				&:nth-child(3){
					bottom: 18px;
				}
			}

			&:hover{
				background-color: $bg_blue_color;
			}

			&:focus{
				outline: none;
			}
		}

		.main-navbar{
			background-color: $bg_color_light;			
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
			line-height: 1;
			z-index: 1001;
			position: absolute;
			top: 100px;

			.menu{
				display: block;

				ul{
					width: 100%;
					padding: 30px;

					li{
						display: block;
						text-align: left;
						padding: 0px 6px;
						margin: 0;
						width: 100%;
						border-top: thin solid $light_text_color;

						&:last-child{
							border-bottom: thin solid $light_text_color;
						}

						a{
							color: #fff;
							margin-top: 0;
							margin-bottom: 2px;
							text-transform: none;
							width: 100%;
							display: block;
							padding: 13px 11px;
							transition: all 0.5s;
							font-weight: 300;
							line-height: 1;
						}			
					}
				}
			}

			.dropdown{
				display: none;
			}
		}
	}

	header.show-menu{
		.menu-button{
			background-color: $bg_blue_color;
			transition-property: all;
			transition-duration: 0.15s;
			transition-timing-function: linear;
			transition-delay: initial;

			&:hover{
				background-color: $bg_color_dark;
			}

			span:first-child{
				transform: rotate(45deg);
	    		// top: 19px;
	    		left: 19px;
			}

			span:nth-child(2){
				display: none;
			}

			span:nth-child(3){
				transform: rotate(-45deg);
	   			bottom: 30px;
			}
		}

		.main-navbar{
			display: block;
			transition: transform .4s cubic-bezier(0.7, 0, 0.3, 1) .15s;

			ul{
				transform: translateZ(0);
				transition: transform .8s cubic-bezier(.7,0,.3,1);

				li{
					transition-duration: .1s linear;
				}
			}
		}
	}

	.competence-content{
		.scene{
	  		height: 300px;
		}

		.col-12, .col-sm-12{
			padding: 15px;
		}

		.col-md-6{
			padding: 10px;
		}
	}

	.gallery-content{
		.carousel-item{
			width: 100%;
		}

		.col-md-4{
			flex: 0 0 100%;
			max-width: 100%;
		}

		.carousel-inner{
        	max-height: 289px;
   		}
	}
}

@include mobile {
	header{
		.main-navbar{
			background-color: $bg_blue_color;			
			width: 90%;
			padding: 0 40px;
			height: 100%;
			line-height: 1.785714285;
			right: 87px;
			top: 0;

			.menu{
				position: relative;
				top: 30%;
				transform: translateY(-50%);

				ul{
					text-transform: none;
					padding: 10px;
					font-size: 25px;
					font-weight: 300;
					letter-spacing: 2px;
					transform: translate3d(0,100%,0);
					transition: transform 0s cubic-bezier(.7,0,.3,1) .4s;

					li{
						padding-top: 8px;
						padding-bottom: 8px;
						z-index: 3;
						position: relative;
						border: none!important;
						margin: 0 15px;

						&:hover{
							opacity: 0.7;
						}	

						.active{
							color: #fff;
						}

						img{
							display: inline-block;
							width: 20px;
							vertical-align: middle;
							margin-bottom: 5px;
							margin-right: 10px;
							margin-left: 10px;
						}

						a{
							display: inline-block;
							width: auto;
						}

						a:hover{
							color: #fff;
						}		
					}
				}
			}
		}
	}

	header.show-menu {
		.main-navbar{
			display: block;
			transition: transform .4s cubic-bezier(0.7, 0, 0.3, 1) .15s;

			ul{
				transform: translateZ(0);
				transition: transform .8s cubic-bezier(.7,0,.3,1);

				li{
					transition-duration: 2s linear;

					&:hover{
						img{
							margin-left: 0px;
							margin-right: 20px;
						}
					}
				}
			}
		}
	}
}