header > .header-logo {
	background-color: $bg_color_light;
	padding: 20px;

	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 150px;
	}

	.menu-button{
		top:20px;
		display: none;
	}
}

.main-navbar{	
	width: 100%;
	height: 48px;
	background-color: $bg_color_dark;
	text-align: center;
	display: inline-block;

	ul{ 
		display: inline-block;
		margin: 0;
		padding: 10px;
		text-transform: uppercase;
		font-size: 20px;

		li{
			display: inline-block;
			margin: 0 10px;
			color: $text_color;

			a{
				text-decoration: none;
				color: $text_color;
				cursor: pointer;

				&:hover{
					color: $text_mouseOver;
				}

				&.active{
					color: $text_mouseOver;
				}
			}
		}
	}

	.dropdown{
		display: inline-block;
		font-size: 14px;

		.dropbtn{
			background-color: transparent;
			border: none;
			cursor: pointer;

			img{
				background-color: transparent;
				width: 18px;
			}

			p{
				color: $text_color;
				margin-bottom: 0;
			}

			&:focus{
				outline: 0;
			}
		}

		.dropdown-content{
			text-transform: none;
			position: absolute;
			font-size: 14px;
			display: none;
			background-color: $bg_color_dark;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    		z-index: 1;
    		padding: 0;

    		li{
    			padding: 12px 20px;
    			text-decoration: none;
    			display: block;
    			margin: 0;

    			&:hover{
    				background-color: #373737;
    				width: 100%;
    				color: white;
    				padding: 12px 20px;
    			}
    		}
		}

		&:hover	{
			.dropdown-content{
				display: block;
				text-align: left;
				padding-top: 9px;
			}
		}
	}
}