.services-content{
	hr{
		background-color: $text_color;
		width: 90%;
		text-align: center;
		margin: 50px auto;
	}

	h2{
		padding-bottom: 50px;
	}

	h4{
		font-size: 28px;
		text-align: left;
		margin-left: 0;
		color: $text_mouseOver;
	}

	p{
		text-align: justify;
		font-size: 18px;
		margin-top: 5px;
		color: $light_text_color;
	}

	.row > div{
		padding: 0;
		margin: 0 auto;
		width: 100%;
	}

	.wrapper{
		position: relative;

		.img-cover{
			width: 100%;
		}

		.right-corner, .right-corner-flip, .left-corner{
			width: 15%;
			bottom: 10px;
			position: absolute;
		}

		.right-corner-flip{
			-webkit-transform: scaleX(-1);
   			transform: scaleX(-1);
   			right: 25px;
		}

		.left-corner{
			left: 20px;
		}

		.right-corner{
			right: 20px;
		}
	}
}