$font_main: 	     'Titillium Web', 'Open Sans', sans-serif;
$bg_color_light: 	 #373737;
$bg_color_dark:	     #2e2e2e;
$text_color: 	     #7f7f7f;
$text_mouseOver:     #0295db;
$bg_blue_color:      #00448e;
$bg_mouseOver:	     #434343;

$big_break:	979px;
$small_break: 650px;