/*--------------------------------------------------------------
	Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	Common
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3 {
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-weight: 300; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px;
  padding-bottom: 30px; }

h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 15px; }

p {
  color: #ffffff;
  display: inline-block; }

.container {
  padding: 50px 0; }

section:nth-child(odd) {
  background-color: #2e2e2e; }

section:nth-child(even) {
  background-color: #373737; }

/*--------------------------------------------------------------
	Navbar
--------------------------------------------------------------*/
header > .header-logo {
  background-color: #373737;
  padding: 20px; }
  header > .header-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px; }
  header > .header-logo .menu-button {
    top: 20px;
    display: none; }

.main-navbar {
  width: 100%;
  height: 48px;
  background-color: #2e2e2e;
  text-align: center;
  display: inline-block; }
  .main-navbar ul {
    display: inline-block;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px; }
    .main-navbar ul li {
      display: inline-block;
      margin: 0 10px;
      color: #7f7f7f; }
      .main-navbar ul li a {
        text-decoration: none;
        color: #7f7f7f;
        cursor: pointer; }
        .main-navbar ul li a:hover {
          color: #0295db; }
        .main-navbar ul li a.active {
          color: #0295db; }
  .main-navbar .dropdown {
    display: inline-block;
    font-size: 14px; }
    .main-navbar .dropdown .dropbtn {
      background-color: transparent;
      border: none;
      cursor: pointer; }
      .main-navbar .dropdown .dropbtn img {
        background-color: transparent;
        width: 18px; }
      .main-navbar .dropdown .dropbtn p {
        color: #7f7f7f;
        margin-bottom: 0; }
      .main-navbar .dropdown .dropbtn:focus {
        outline: 0; }
    .main-navbar .dropdown .dropdown-content {
      text-transform: none;
      position: absolute;
      font-size: 14px;
      display: none;
      background-color: #2e2e2e;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      padding: 0; }
      .main-navbar .dropdown .dropdown-content li {
        padding: 12px 20px;
        text-decoration: none;
        display: block;
        margin: 0; }
        .main-navbar .dropdown .dropdown-content li:hover {
          background-color: #373737;
          width: 100%;
          color: white;
          padding: 12px 20px; }
    .main-navbar .dropdown:hover .dropdown-content {
      display: block;
      text-align: left;
      padding-top: 9px; }

/*--------------------------------------------------------------
	Slider Section
--------------------------------------------------------------*/
.slider-content {
  width: 100%;
  position: relative;
  /* Fading animation */ }
  .slider-content .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    opacity: 1; }
@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
  .slider-content .img-slider {
    width: 100%; }
  .slider-content .right-corner-element {
    width: 45%;
    position: absolute;
    top: 0;
    right: 0; }
  .slider-content .slide-line {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 68, 142, 0.8);
    width: 100%;
    max-height: 250px; }
    .slider-content .slide-line .container {
      padding: 40px 0; }
    .slider-content .slide-line .col-sm-4 {
      padding-left: 80px; }
    .slider-content .slide-line .icon-picker {
      text-transform: uppercase;
      cursor: pointer;
      margin: 0 10px;
      display: inline-block;
      opacity: 0.5;
      filter: alpha(opacity=50);
      text-align: center; }
      .slider-content .slide-line .icon-picker img {
        margin-right: auto;
        margin-left: auto;
        width: 80px;
        display: block; }
      .slider-content .slide-line .icon-picker p {
        font-size: 20px;
        margin: 0; }
      .slider-content .slide-line .icon-picker:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
    .slider-content .slide-line .active {
      opacity: 1;
      filter: alpha(opacity=100); }
    .slider-content .slide-line .textBottom h2 {
      text-align: left;
      margin: 0;
      -webkit-animation: mymove 3s;
      /* Safari 4.0 - 8.0 */
      animation: mymove 3s;
      -webkit-animation-timing-function: ease;
      animation-timing-function: ease;
      position: relative; }
@-webkit-keyframes mymove {
  from {
    right: -50px; }
  to {
    right: 0px; } }
@keyframes mymove {
  from {
    right: -50px; }
  to {
    right: 0px; } }
    .slider-content .slide-line .textBottom a {
      color: #ffffff;
      background-color: #7f7f7f;
      width: 300px;
      padding: 10px 50px;
      text-align: center;
      text-transform: uppercase;
      display: block; }
      .slider-content .slide-line .textBottom a:hover {
        text-decoration: none;
        background-color: #0295db; }

/*--------------------------------------------------------------
	Text Section
--------------------------------------------------------------*/
.text-content {
  text-align: justify;
  position: relative; }
  .text-content .text-mouseOver {
    color: #0295db;
    font-weight: bold; }

/*--------------------------------------------------------------
	Competence Section
--------------------------------------------------------------*/
.competence-content {
  position: relative; }
  .competence-content .scene {
    width: 200px;
    height: 260px;
    perspective: 600px; }
  .competence-content .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    background-color: #2e2e2e;
    cursor: pointer;
    border-radius: 0;
    border: 0; }
    .competence-content .card:hover {
      background-color: #434343; }
  .competence-content .card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden; }
  .competence-content .card__face--front {
    padding: 40px 0; }
    .competence-content .card__face--front img {
      width: 120px;
      background-color: #00448e;
      border-radius: 50%;
      margin: 0 auto;
      display: block; }
    .competence-content .card__face--front h3 {
      margin-top: 30px; }
  .competence-content .card__face--back {
    transform: rotateY(180deg);
    background-color: #00448e;
    -webkit-backface-visibility: hidden;
    padding: 20px 10px; }
    .competence-content .card__face--back img {
      width: 80px;
      background-color: #0295db;
      border-radius: 50%;
      margin: 0 auto;
      display: block; }
    .competence-content .card__face--back h3 {
      font-weight: 700; }
    .competence-content .card__face--back p {
      text-align: center;
      font-size: 14px; }
  .competence-content .card.flipped {
    transform: rotateY(180deg); }

/*--------------------------------------------------------------
	Topic Section
--------------------------------------------------------------*/
.topic-content {
  position: relative; }
  .topic-content .img-cover {
    width: 100%; }
  .topic-content span {
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: absolute;
    width: 50%;
    height: 100%; }
  .topic-content .overlay-left {
    top: 0;
    bottom: 0;
    right: 15px;
    background: linear-gradient(-110deg, #2e2e2e 65%, transparent 20%); }
  .topic-content .overlay-right {
    top: 0;
    bottom: 0;
    left: 15px;
    background: linear-gradient(70deg, #2e2e2e 65%, transparent 20%); }
  .topic-content .icon-picker-right, .topic-content .icon-picker-left {
    position: absolute;
    width: 20%;
    text-align: center; }
    .topic-content .icon-picker-right img, .topic-content .icon-picker-left img {
      width: 100px;
      margin-left: auto;
      margin-right: auto; }
    .topic-content .icon-picker-right h3, .topic-content .icon-picker-left h3 {
      text-transform: uppercase;
      font-size: 18px;
      display: block;
      margin: 0; }
    .topic-content .icon-picker-right .topic-link, .topic-content .icon-picker-left .topic-link {
      display: none; }
      .topic-content .icon-picker-right .topic-link img, .topic-content .icon-picker-left .topic-link img {
        width: 10px; }
      .topic-content .icon-picker-right .topic-link p, .topic-content .icon-picker-left .topic-link p {
        color: #0295db;
        text-transform: lowercase;
        font-weight: 700;
        font-size: 14px; }
  .topic-content .icon-picker-left {
    top: 80px;
    right: 40px; }
  .topic-content .icon-picker-right {
    top: 80px;
    left: 40px; }
  .topic-content .left-corner {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right: 15px !important; }
  .topic-content .right-corner {
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px !important; }
  .topic-content a:hover .topic-link {
    display: block; }
  .topic-content a:hover span {
    opacity: 0.9;
    filter: alpha(opacity=90); }

/*--------------------------------------------------------------
	Partners Section
--------------------------------------------------------------*/
.partners-content {
  position: relative; }
  .partners-content h2 {
    text-align: left;
    padding: 0;
    margin: 0; }
  .partners-content img {
    height: 80px; }

/*--------------------------------------------------------------
	Google Map Section
--------------------------------------------------------------*/
.gmap-content {
  position: relative;
  line-height: 0; }
  .gmap-content .gmap-overlay {
    width: 100%;
    height: 400px;
    background: rgba(0, 68, 142, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99; }

/*--------------------------------------------------------------
	Contact Section
--------------------------------------------------------------*/
.contact-content h2 {
  color: #7f7f7f;
  text-align: left;
  padding-bottom: 0; }
.contact-content p {
  margin: 0 30px; }
.contact-content .info {
  padding-right: 50px; }
  .contact-content .info img {
    width: 40px;
    margin: 5px 0; }
  .contact-content .info .top-align {
    vertical-align: top; }
  .contact-content .info hr {
    background-color: #7f7f7f; }
.contact-content form {
  margin-top: 20px; }
  .contact-content form .row {
    margin-bottom: 10px; }
    .contact-content form .row input, .contact-content form .row textarea {
      color: #ffffff;
      padding: 10px 20px;
      width: 100%;
      background-color: #434343;
      border: none; }
  .contact-content form button {
    background-color: #00448e;
    width: 100%;
    padding: 10px 20px;
    color: #ffffff;
    border: none; }
    .contact-content form button p {
      float: left;
      margin: 0; }
    .contact-content form button img {
      float: right;
      width: 30px; }

/*--------------------------------------------------------------
	Advantages Section
--------------------------------------------------------------*/
.advantages-content {
  position: relative; }
  .advantages-content p {
    font-size: 18px;
    text-align: center; }
  .advantages-content .wrapper div {
    padding-top: 40px;
    text-align: center; }
    .advantages-content .wrapper div img {
      width: 120px;
      margin: 0 auto;
      display: block; }
    .advantages-content .wrapper div p {
      font-weight: 700;
      font-size: 16px; }

/*--------------------------------------------------------------
	Footer
--------------------------------------------------------------*/
footer {
  background-color: #2e2e2e; }
  footer .container {
    padding: 0; }
    footer .container ul {
      display: inline-block;
      margin-bottom: 0; }
    footer .container p, footer .container li {
      padding-right: 20px;
      margin: 20px 0;
      display: inline-block;
      color: #fff !important; }
    footer .container span {
      font-weight: bold; }
    footer .container li {
      cursor: pointer; }

/*--------------------------------------------------------------
	Services Section
--------------------------------------------------------------*/
.services-content hr {
  background-color: #7f7f7f;
  width: 90%;
  text-align: center;
  margin: 50px auto; }
.services-content h2 {
  padding-bottom: 50px; }
.services-content h4 {
  font-size: 28px;
  text-align: left;
  margin-left: 0;
  color: #0295db; }
.services-content p {
  text-align: justify;
  font-size: 18px;
  margin-top: 5px; }
.services-content .row > div {
  padding: 0;
  margin: 0 auto;
  width: 100%; }
.services-content .wrapper {
  position: relative; }
  .services-content .wrapper .img-cover {
    width: 100%; }
  .services-content .wrapper .right-corner, .services-content .wrapper .right-corner-flip, .services-content .wrapper .left-corner {
    width: 15%;
    bottom: 10px;
    position: absolute; }
  .services-content .wrapper .right-corner-flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 25px; }
  .services-content .wrapper .left-corner {
    left: 20px; }
  .services-content .wrapper .right-corner {
    right: 20px; }

/*--------------------------------------------------------------
	Gallery Section
--------------------------------------------------------------*/
.gallery-content {
  text-align: center;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px; }
  .gallery-content h2 {
    padding-bottom: 40px; }
  .gallery-content .btt-left {
    transform: rotateY(180deg); }
  .gallery-content .container {
    padding: 0; }
  .gallery-content .carousel-control-prev, .gallery-content .carousel-control-next {
    width: 12%; }

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block; }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none; }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0); }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible; }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible; }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible; } }
/* Bootstrap Lightbox using Modal */
#profile-grid {
  overflow: auto;
  white-space: normal; }

#profile-grid .profile {
  padding-bottom: 40px; }

#profile-grid .panel {
  padding: 0; }

#profile-grid .panel-body {
  padding: 15px; }

#profile-grid .profile-name {
  font-weight: bold; }

#profile-grid .thumbnail {
  margin-bottom: 6px; }

#profile-grid .panel-thumbnail {
  overflow: hidden; }

#profile-grid .img-rounded {
  border-radius: 4px 4px 0 0; }

/*# sourceMappingURL=style.css.map */
