@include sm-desktop {
	.topic-content{
		.icon-picker-right, .icon-picker-left{
			top: 45px;
			min-width: 110px;
		}

		.icon-picker-left{
			right: 40px;
		}
	}

	.partners-content{
		.containers{
			padding: 50px 40px;
		}
	}

	.gallery-content{
		.carousel-inner{
        	max-height: 164.31px;
   		}	
	}

	.competence-content{
		.card__face--back{
			padding: 40px 20px;
		}
	}
}

@include tablet {
	header{
		height: 95px;
		background-color: $bg_color_light;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		z-index: 1000;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		.main-navbar{
			display: none;
		}

		.header-logo{
			padding: 0;

			img{
				position: absolute;
				top: 15px;
				left: 20px;
			}
		}

		.menu-button{
			display: block!important;
			background-color: $bg_color_dark;
			transition: all 0.3s ease 0s;
			border: 0;
			color: transparent;
			cursor: pointer;
			position: fixed;
			z-index: 3;
			outline: none;
			top: 25px;
			right: 25px;
			height: 48px;
			width: 48px;

			.lines{
				display: block;
				position: absolute;
				height: 3px;
				width: 24px;
				transition: 0.3s;
				background-color: $light_text_color;
				opacity: 1;
				left: 12px;
				top: 22px;

				&:before, &:after{
					display: inline-block;
					width: 24px;
					height: 3px;
					transition: 0.3s;
					position: absolute;
					left: 0;
					content: '';
					background-color: $light_text_color;
					transform-origin: 0.26rem center;
				}

				&:after{
					top: -8px;
				}

				&:before{
					top: 8px;
				}
			}

		}

		.main-navbar{
			background-color: $bg_color_light;			
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
			line-height: 1;
			z-index: 1001;
			position: absolute;
			top: 70px;
			padding: 30px;

			.menu{
				display: block;

				ul{
					width: 100%;
					padding: 0;

					li{
						display: block;
						text-align: left;
						padding: 0px 6px;
						margin: 0;
						width: 100%;
						border-top: thin solid $light_text_color;

						&:last-child{
							border-bottom: thin solid $light_text_color;
						}

						a{
							color: #fff;
							margin-top: 0;
							margin-bottom: 2px;
							text-transform: none;
							width: 100%;
							display: block;
							padding: 13px 11px;
							transition: all 0.5s;
							font-weight: 300;
							line-height: 1;
						}			
					}
				}
			}

			.dropdown{
				display: block;
				position: relative;
				line-height: 25px;
				padding: 10px;
				text-align: left;

				.dropbtn{
					padding: 0px 6px;
					margin: 0;
					position: relative;

					img{
						display: none!important;
					}

					span{
						display: inline-block;
						position: absolute;
						height: 3px;
						width: 15px;
						background-color: $light_text_color;
						left: -8px;
						top: 11px;
					}

					span:nth-child(1){
						transform: rotate(45deg);
					}

					span:nth-child(2){
						transform: rotate(90deg);
					}

					p{
						display: inline-block;
						color: #fff;
						font-size: 20px;
						position: relative;
						left: 8px;
					}
				}
			}
		}
	}

	header.show-menu{
		.menu-button{
			.lines{
				background-color: transparent;

				&:before, &:after{
					transform-origin: 50% 50%;
					top: 0;
				}

				&:before{
					transform: rotate3d(0, 0, 1, 45deg);
				}

				&:after{
					transform: rotate3d(0, 0, 1, -45deg);
				}
			}
		}

		.main-navbar{
			display: block;
			// transition: transform .4s cubic-bezier(0.7, 0, 0.3, 1) .15s;

			// ul{
			// 	transform: translateZ(0);
			// 	transition: transform .8s cubic-bezier(.7,0,.3,1);

			// 	li{
			// 		transition-duration: .1s linear;
			// 	}
			// }
		}
	}

	.slider-content{
		margin-top: 95px;

		.slide-line{
			.containers{
				padding: 20px 10px;
				width: 95%;

				.col-md-5{
					text-align: center;
				}

				.icon-picker{
					p{
						font-size: 18px;
					}

					&:last-child{
						padding-right: 0;
					}
				}

				.textBottom{
					h2{
						font-size: 26px;	
					}

					a{
						width: 50%;
						font-size: 14px;
						padding: 10px 30px;
					}
				}
			}
		}		
	}

	.competence-content{
		.card:first-child{
				&:hover{
					background-color: $bg_color_dark;
				}
		}

		.containers{
			width: 70%;
		}

		.scene{
	  		height: 300px;
		}

		.col-sm-6{
			padding: 15px;
		}
	}

	.topic-content{
		.icon-picker-right, .icon-picker-left{
			top: 25px;
			width: 14%;

			img{
				width: 80%;
			}
			
			h3{
				font-size: 16px;
			}

			.topic-link{
				display: block;

				p{
					font-size: 12px;
				}
			}
		}

		.icon-picker-left{
			right: 20px;
		}

		.icon-picker-right{
			left: 10px;
		}

		span{
			opacity: 0.8;
			filter: alpha(opacity=80);
		}
	}

	.partners-content{
		.containers{
			padding: 50px 0;
		}

		h2{
			text-align: center!important;
			padding-bottom: 35px!important;
		}
	}

	.services-content{
		p{
			font-size: 16px;
		}

		hr{
			margin: 30px auto;
		}

		.wrapper{
			.right-corner, .right-corner-flip, .left-corner{
				bottom: 7px;
			}

			.right-corner-flip{
	   			right: 7px;
			}

			.left-corner{
				left: 7px;
			}

			.right-corner{
				right: 7px;
			}
		}
	}

	.gallery-content{
		.carousel-item{
			width: 100%;
		}

		.col-md-4{
			flex: 0 0 100%;
			max-width: 100%;
		}

		.carousel-inner{
        	max-height: 289px;
   		}
	}

	// Back to Top Button
	
	#btt-link{
		&:hover{
	    	background-color: $bg_color_dark;
	    }
	}
}

@include mobile {
	header{		
		position: relative;

		.menu-button{
			position: fixed;
		}

		.main-navbar{
			background-color: $bg_blue_color;
			width: 90%;
			padding: 0 40px;
			height: 100%;
			line-height: 1.785714285;
			right: 73px;
			top: 0;
			position: fixed;
			// left: -100px;
			// -webkit-animation: navbar 0.5s forwards;
		 //    -webkit-animation-delay: 2s;
		 //    animation: navbar 0.5s forwards;
		 //    animation-delay: 2s;
		 transition: transform .4s cubic-bezier(.7,0,.3,1);

			.menu{
				display: block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);

				ul{
					text-transform: none;
					font-size: 22px;
					font-weight: 300;
					letter-spacing: 2px;
					transform: translate3d(0,100%,0);
					transition: transform 0s cubic-bezier(.7,0,.3,1) .4s;

					li{
						padding-top: 8px;
						padding-bottom: 8px;
						z-index: 3;
						position: relative;
						border: none!important;
						margin: 0 15px;

						.active{
							color: #fff;
						}

						&:hover{
							opacity: 0.7;

							img{
								margin-left: 0px;
								margin-right: 20px;
							}
						}

						img{
							display: inline-block;
							width: 20px;
							vertical-align: middle;
							margin-bottom: 5px;
							margin-right: 10px;
							margin-left: 10px;
						}

						a{
							display: inline-block;
							width: auto;

							&:hover{
								color: #fff;
							}
						}	
					}
				}
			}

			.dropdown{
				padding-left: 41px;
				top: 15%;
				// bottom: 5%;	
				transform: translateY(-15%);
				
				.dropbtn{
					transform: translate3d(0,100%,0);
					transition: transform 0s cubic-bezier(.7,0,.3,1) .4s;

					&:hover{
						opacity: 0.7;

						span{
							left: -15px;
						}
					}

					span{
					// 	display: inline-block;
					// 	position: absolute;
					// 	height: 3px;
						width: 18px;
					// 	background-color: $light_text_color;
					// 	left: -8px;
					// 	top: 11px;
					}

					p{
						font-size: 22px;
						letter-spacing: 2px;
						left: 25px;

					}
				}
			}
		}

		// @-webkit-keyframes navbar {
  //   		100% { left: 0; }
		// }

		// @keyframes navbar {
		//     100% { left: 0; }
		// }
	}

	header.show-menu {
		.menu-button{
			background-color: $bg_blue_color;
		}
		.main-navbar{
			display: block;
			transform: translateZ(0);
			transition: transform .4s cubic-bezier(.7,0,.3,1) .15s;
		    // position: absolute;
    		left: -13px;

    		-webkit-animation: blah 2s;

			
			ul{
				transform: translateZ(0);
				transition: transform .8s cubic-bezier(.7,0,.3,1);

				li{
					transition-duration: .1s linear;
				}
			}
		}

		@keyframes blah {
			    100% {left: 50%;}
			}


		// .main-navbar{
		// 	display: block;
		// 	transform: translateZ(0);
		// 	transition: transform .4s cubic-bezier(0.7, 0, 0.3, 1) .15s;
			// -webkit-animation: blah 2s;

			// @keyframes blah {
			//     0% {left: 90%;}
			//     100% {left: 90%;}
			// }

		// 	ul{
		// 		// transform: translateY(-50%;)
		// 		transform: translateZ(0);
		// 		transition: transform .8s cubic-bezier(.7,0,.3,1);

		// 		li{
		// 			// transition-duration: 2s linear;
		// 			transition-duration: .9s;
		// 			transform: translateZ(0);
		// 			transition: transform .8s cubic-bezier(.7,0,.3,1);

		// 			&:hover{
		// 				img{
		// 					margin-left: 0px;
		// 					margin-right: 20px;
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}

	.slider-content{
		margin-top: 0;

		.slide-line{
			.containers{
				.icon-picker{
					p{
						font-size: 17px;
					}

					img{
						width: 70px;
					}
				}

				.textBottom{
					h2{
						font-size: 22px;
						padding-top: 5px;
						padding-bottom: 20px;
					}

					a{
						font-size: 13px;
						padding: 10px 20px;
					}
				}
			}
		}
	}

	// .text-content{
	// 	.text-mouseOver{
	// 		text-align: center;
	// 	}
	// }

	.competence-content{
		.containers{
			width: 85%;
		}
		.scene{
	  		height: 260px;
		}

		.card__face--back{
			padding: 30px 20px;
		}

		.col-sm-6{
			padding: 5px;
		}
	}

	.topic-content{
		.icon-picker-right, .icon-picker-left{
			top: 60px;
			width: 21%;

			img{
				width: 100%;
			}

			h3{
				font-size: 20px;
			}

			.topic-link>p{
				font-size: 15px;
			}	
		}

		.row > div:first-child{
			margin-bottom: 20px;
		}

		.icon-picker-left{
			right: 40px;
		}

		.icon-picker-right{
			left: 40px;
		}
	}

	.advantages-content{
		p{
			font-size: 16px;
			// text-align: justify;
		}

		.wrapper div{
			p{
				width: auto;
			}
		}
	}

	.services-content{
		.row > div{
			display: block;
			padding: 0 15px;
		}

		.smallHr{
			margin: 10px auto;
		}

		h4{
			margin-top: 8px;
		}

		.wrapper{
			.right-corner, .right-corner-flip, .left-corner{
				bottom: 15px;
			}

			.right-corner-flip{
	   			right: 25px;
			}

			.left-corner{
				left: 20px;
			}

			.right-corner{
				right: 20px;
			}
		}
	}

	.contact-content{
		.info{
			margin-bottom: 20px;
			padding-right: 15px;
		}
	}

	footer{
		.containers{
			.col-sm-12, .col-lg-3, .col-md-4{
				text-align: center;
			}

			.row{
				padding: 10px 0;
			}

			.col-lg-3, .col-md-4{
				p{
					margin-top: 0;
				}
			}

			li{
				padding-left: 5px;
			}
		}
	}
}

@include xs-mobile {
	.slider-content{
		.img-slider{
			width: auto;
			height: 280px;
		};

		.img-slider-vehicles{
			position: relative;
  			left: 50%;
  			margin-left: -320px;
		}

		.slide-line{
			max-height: 100%;
			height: 100%;

			.containers{
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				padding: 0;

				h1{
					font-size: 30px;
				}

				.icon-picker{
					padding-bottom: 10px;

					p{
						font-size: 16px;
					}

					img{
						width: 70px;
					}
				}

				.textBottom{
					h2{
						font-size: 22px;
						text-align: center;
					}

					a{
						margin: 0 auto;
						padding: 8px 15px;
					}
				}
			}
		}
	}

	.competence-content{
		.card{
			width: 80%;
			margin: 0 auto;
		}
	}

	.topic-content{
		.icon-picker-right, .icon-picker-left{
			top: 40px;

			h3{
				font-size: 18px;
			}

			.topic-link{
				p{
					font-size: 14px;
				}
			}	
		}
	}

	.partners-content{
		.containers{
			img{
				height: 50px;
			}
		}
	}

	.advantages-content{
		.wrapper div{
			p{
				font-size: 14px;
			}
		}
	}

	.contact-content{
		p{
			margin: 0 10px;
		}
	}
}

@include xxs_mobile {
	.topic-content{
		.icon-picker-right, .icon-picker-left{
			img{
				width: 80%;
			}

			h3{
				font-size: 16px;
			}

			.topic-link{
				p{
					font-size: 12px;
				}
			}	
		}

		.icon-picker-left{
			right: 20px;
		}

		.icon-picker-right{
			left: 20px;
		}
	}

	.services-content{
		.wrapper{
			.right-corner, .right-corner-flip, .left-corner{
				bottom: 5px;
			}
		}
	}
}

@include blah {
	.topic-content{
		.icon-picker-right, .icon-picker-left{
			top: 24px;

			img{
				width: 70%;
			}

			h3{
				font-size: 14px;
			}

			.topic-link{
				p{
					font-size: 10px;
				}
			}	
		}

		.icon-picker-left{
			right: 10px;
		}

		.icon-picker-right{
			left: 10px;
		}
	}

	.partners-content{
		.containers{
			.imgLeft{
				position: relative;
  				right: 5%;
			}
		}
	}
}