.partners-content{
	position: relative;

	.containers{
		padding: 50px 120px;

		h2{
			text-align: left;
			padding-bottom: 0;
			margin: 0;
			font-size: 28px;
		}
		
		img{
			height: 60px;
			margin: 0 auto;
			display: block;
		}
	}
}