.topic-content{
	position: relative;
	
	.img-cover{
		width: 100%;
	}

	span{
		opacity: 0.7;
   		filter: alpha(opacity=70);
		position: absolute;
		width: 50%;
		height: 100%;
	}

	.overlay-left{
		top: 0;
		bottom:0;
		right: 15px;
		background: linear-gradient(-110deg, $bg_color_dark 65%, transparent 20%);
	}

	.overlay-right{
		top: 0;
		bottom: 0;
		left: 15px;
		background: linear-gradient(70deg, $bg_color_dark 65%, transparent 20%);
	}

	.icon-picker-right, .icon-picker-left{
		position: absolute;
		width: 20%;
		text-align: center;
		top: 70px;

		img{
			width: 100%;
			margin: 0 auto;
		}

		h3{
			text-transform: uppercase;
			font-size: 18px;
			display: block;
			margin: 0;
		}

		.topic-link{
			display: none;

			img{
				width: 10px;
				padding: 0;
			}

			p{
				color: $text_mouseOver;
				text-transform: lowercase;
				font-weight: 700;
				font-size: 14px;
				margin-top: 5px;
			}
		}
	}

	.icon-picker-left{
		right: 50px;
	}

	.icon-picker-right{
		left: 40px;
	}

	.left-corner{
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		width: 60%;
		position: absolute;
		bottom: 0;
		left: 0;
		padding-right: 15px!important;
	}
	
	.right-corner{
		width: 60%;
		position: absolute;
		top: 0;
		right: 0;
		padding-right: 15px!important;
	}

	a:hover .topic-link{
		display: block;
	}

	a:hover span{
		opacity: 0.9;
   		filter: alpha(opacity=90);
	}
}