/*--------------------------------------------------------------
	Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	Common
--------------------------------------------------------------*/
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/TitilliumWeb-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TitilliumWeb-Bold.ttf") format("truetype"); }
* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

*:focus {
  outline: none; }

h1, h2, h3 {
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-weight: 300; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px;
  padding-bottom: 30px; }

h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 15px; }

p {
  color: #cdcdcd;
  display: inline-block;
  font-weight: 300; }

.containers {
  padding: 50px 0;
  width: 90%;
  margin: 0 auto; }

section:nth-child(odd) {
  background-color: #2e2e2e; }

section:nth-child(even) {
  background-color: #373737; }

#btt-link {
  display: none;
  background-color: #2e2e2e;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  display: inline-block;
  height: 38px;
  width: 38px;
  text-align: center; }
  #btt-link:hover {
    background-color: #373737; }
  #btt-link img {
    width: 18px;
    height: 18px;
    position: relative;
    top: 5px;
    text-align: center; }

/*--------------------------------------------------------------
	Navbar
--------------------------------------------------------------*/
.header-logo {
  background-color: #373737;
  padding: 20px; }
  .header-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px; }
  .header-logo .menu-button {
    display: none; }

.main-navbar {
  width: 100%;
  height: 48px;
  background-color: #2e2e2e;
  text-align: center; }
  .main-navbar .menu {
    display: inline-block; }
    .main-navbar .menu ul {
      display: inline-block;
      margin: 0 auto;
      padding: 10px;
      text-transform: uppercase;
      font-size: 20px; }
      .main-navbar .menu ul li {
        display: inline-block;
        margin: 0 15px;
        color: #7f7f7f;
        cursor: pointer; }
        .main-navbar .menu ul li img {
          display: none; }
        .main-navbar .menu ul li a {
          text-decoration: none;
          color: #7f7f7f;
          font-weight: 300; }
          .main-navbar .menu ul li a:hover {
            color: #0295db; }
          .main-navbar .menu ul li a.active {
            color: #0295db; }
  .main-navbar .dropdown {
    display: inline-block;
    position: absolute;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 60px; }
    .main-navbar .dropdown .dropbtn {
      background-color: transparent;
      border: none;
      cursor: pointer; }
      .main-navbar .dropdown .dropbtn img {
        background-color: transparent;
        height: 20px;
        display: inline-block; }
      .main-navbar .dropdown .dropbtn span {
        display: none; }
      .main-navbar .dropdown .dropbtn p {
        color: #7f7f7f;
        margin-bottom: 0;
        font-size: 14px; }
      .main-navbar .dropdown .dropbtn:focus {
        outline: 0; }
    .main-navbar .dropdown .dropdown-content {
      text-transform: none;
      position: absolute;
      font-size: 14px;
      display: none;
      background-color: #2e2e2e;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      margin-top: 12px; }
      .main-navbar .dropdown .dropdown-content li {
        padding: 12px 20px;
        text-decoration: none;
        display: block;
        margin: 0;
        color: #7f7f7f; }
        .main-navbar .dropdown .dropdown-content li:hover {
          background-color: #373737;
          width: 100%;
          color: #0295db;
          padding: 12px 20px; }
    .main-navbar .dropdown:hover .dropdown-content {
      display: block;
      text-align: left;
      cursor: pointer; }

/*--------------------------------------------------------------
	Slider Section
--------------------------------------------------------------*/
.slider-content {
  width: 100%;
  position: relative;
  /* Fading animation */ }
  .slider-content .fade {
    -webkit-animation: fade 1.5s;
    -moz-animation: fade 1.5s;
    -o-animation: fade 1.5s;
    animation: fade 1.5s;
    opacity: 1; }
@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@-moz-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@-o-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
  .slider-content .img-slider {
    width: 100%; }
  .slider-content .right-corner-element {
    width: 45%;
    position: absolute;
    top: 0;
    right: 0; }
  .slider-content .slide-line {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 68, 142, 0.8);
    width: 100%;
    max-height: 250px; }
    .slider-content .slide-line .containers {
      padding: 40px 0; }
    .slider-content .slide-line .col-md-5 {
      text-align: right; }
    .slider-content .slide-line .icon-picker {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-transform: uppercase;
      cursor: pointer;
      margin: 0 auto;
      display: inline-block;
      opacity: 0.5;
      filter: alpha(opacity=50);
      text-align: center; }
      .slider-content .slide-line .icon-picker:last-child {
        padding-left: 30px;
        padding-right: 50px; }
      .slider-content .slide-line .icon-picker img {
        margin-right: auto;
        margin-left: auto;
        width: 80px;
        display: block; }
      .slider-content .slide-line .icon-picker p {
        font-size: 20px;
        margin: 0; }
      .slider-content .slide-line .icon-picker:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
    .slider-content .slide-line .active {
      opacity: 1;
      filter: alpha(opacity=100); }
    .slider-content .slide-line .textBottom h2 {
      text-align: left;
      margin: 0;
      padding-bottom: 20px;
      -webkit-animation: mymove 3s;
      -moz-animation: mymove 3s;
      -o-animation: mymove 3s;
      animation: mymove 3s;
      -webkit-animation-timing-function: ease;
      -moz-animation-timing-function: ease;
      -o-animation-timing-function: ease;
      animation-timing-function: ease;
      position: relative; }
@-webkit-keyframes mymove {
  from {
    right: -50px; }
  to {
    right: 0px; } }
@-moz-keyframes mymove {
  from {
    right: -50px; }
  to {
    right: 0px; } }
@-o-keyframes mymove {
  from {
    right: -50px; }
  to {
    right: 0px; } }
@keyframes mymove {
  from {
    right: -50px; }
  to {
    right: 0px; } }
    .slider-content .slide-line .textBottom a {
      color: #ffffff;
      background-color: #7f7f7f;
      width: 300px;
      padding: 10px 50px;
      text-align: center;
      text-transform: uppercase;
      display: block; }
      .slider-content .slide-line .textBottom a:hover {
        text-decoration: none;
        background-color: #0295db; }
      .slider-content .slide-line .textBottom a:focus {
        outline: 0; }

/*--------------------------------------------------------------
	Text Section
--------------------------------------------------------------*/
.text-content {
  text-align: justify;
  position: relative; }
  .text-content p {
    color: #fff; }
  .text-content .text-mouseOver {
    color: #0295db;
    font-weight: bold; }

/*--------------------------------------------------------------
	Competence Section
--------------------------------------------------------------*/
.competence-content {
  position: relative; }
  .competence-content .scene {
    width: 200px;
    height: 260px;
    perspective: 600px;
    -webkit-perspective: 600px;
    margin: 0 auto; }
  .competence-content .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    border-radius: 0;
    border: 0; }
    .competence-content .card:first-child {
      background-color: #2e2e2e; }
      .competence-content .card:first-child:hover {
        background-color: #434343; }
  .competence-content .card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  .competence-content .card__face--front {
    padding: 40px 0; }
    .competence-content .card__face--front img {
      width: 120px;
      background-color: #00448e;
      border-radius: 50%;
      margin: 0 auto;
      display: block; }
    .competence-content .card__face--front h3 {
      margin-top: 30px;
      margin-bottom: 0; }
  .competence-content .card__face--back {
    transform: rotateY(180deg);
    background-color: #00448e;
    padding: 40px 30px;
    text-align: center; }
    .competence-content .card__face--back img {
      width: 80px;
      background-color: #0295db;
      border-radius: 50%;
      margin: 0 auto;
      display: block; }
    .competence-content .card__face--back h3 {
      margin-top: 25px;
      font-weight: 700; }
    .competence-content .card__face--back p {
      font-size: 14px;
      color: #fff; }
  .competence-content .card.flipped {
    transform: rotateY(180deg); }

/*--------------------------------------------------------------
	Topic Section
--------------------------------------------------------------*/
.topic-content {
  position: relative; }
  .topic-content .img-cover {
    width: 100%; }
  .topic-content span {
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: absolute;
    width: 50%;
    height: 100%; }
  .topic-content .overlay-left {
    top: 0;
    bottom: 0;
    right: 15px;
    background: linear-gradient(-110deg, #2e2e2e 65%, transparent 20%); }
  .topic-content .overlay-right {
    top: 0;
    bottom: 0;
    left: 15px;
    background: linear-gradient(70deg, #2e2e2e 65%, transparent 20%); }
  .topic-content .icon-picker-right, .topic-content .icon-picker-left {
    position: absolute;
    width: 20%;
    text-align: center;
    top: 70px; }
    .topic-content .icon-picker-right img, .topic-content .icon-picker-left img {
      width: 100%;
      margin: 0 auto; }
    .topic-content .icon-picker-right h3, .topic-content .icon-picker-left h3 {
      text-transform: uppercase;
      font-size: 18px;
      display: block;
      margin: 0; }
    .topic-content .icon-picker-right .topic-link, .topic-content .icon-picker-left .topic-link {
      display: none; }
      .topic-content .icon-picker-right .topic-link img, .topic-content .icon-picker-left .topic-link img {
        width: 10px;
        padding: 0; }
      .topic-content .icon-picker-right .topic-link p, .topic-content .icon-picker-left .topic-link p {
        color: #0295db;
        text-transform: lowercase;
        font-weight: 700;
        font-size: 14px;
        margin-top: 5px; }
  .topic-content .icon-picker-left {
    right: 50px; }
  .topic-content .icon-picker-right {
    left: 40px; }
  .topic-content .left-corner {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right: 15px !important; }
  .topic-content .right-corner {
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px !important; }
  .topic-content a:hover .topic-link {
    display: block; }
  .topic-content a:hover span {
    opacity: 0.9;
    filter: alpha(opacity=90); }

/*--------------------------------------------------------------
	Partners Section
--------------------------------------------------------------*/
.partners-content {
  position: relative; }
  .partners-content .containers {
    padding: 50px 120px; }
    .partners-content .containers h2 {
      text-align: left;
      padding-bottom: 0;
      margin: 0;
      font-size: 28px; }
    .partners-content .containers img {
      height: 60px;
      margin: 0 auto;
      display: block; }

/*--------------------------------------------------------------
	Google Map Section
--------------------------------------------------------------*/
.gmap-content {
  position: relative;
  line-height: 0; }
  .gmap-content .gmap-overlay {
    width: 100%;
    height: 400px;
    background: rgba(0, 68, 142, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }

/*--------------------------------------------------------------
	Contact Section
--------------------------------------------------------------*/
.contact-content h2 {
  color: #cdcdcd;
  text-align: left;
  padding-bottom: 0; }
.contact-content p {
  margin: 0 30px;
  color: #fff; }
.contact-content .info {
  padding-right: 50px; }
  .contact-content .info img {
    width: 40px;
    margin: 5px 0; }
  .contact-content .info .top-align {
    vertical-align: top; }
  .contact-content .info hr {
    background-color: #7f7f7f; }
.contact-content form {
  margin-top: 20px; }
  .contact-content form .row {
    margin-bottom: 10px; }
    .contact-content form .row input, .contact-content form .row textarea {
      color: #ffffff;
      padding: 10px 20px;
      width: 100%;
      background-color: #434343;
      border: none;
      border-radius: 0;
      -webkit-appearance: none; }
      .contact-content form .row input:focus, .contact-content form .row textarea:focus {
        outline: none; }
  .contact-content form button {
    background-color: #00448e;
    width: 100%;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    cursor: pointer; }
    .contact-content form button:hover {
      background-color: #434343; }
    .contact-content form button p {
      float: left;
      margin: 0;
      color: #fff; }
    .contact-content form button img {
      float: right;
      width: 25px; }

/*--------------------------------------------------------------
	Advantages Section
--------------------------------------------------------------*/
.advantages-content {
  position: relative; }
  .advantages-content p {
    font-size: 18px;
    text-align: center;
    font-weight: 300; }
  .advantages-content .wrapper div {
    padding-top: 40px;
    text-align: center; }
    .advantages-content .wrapper div img {
      width: 100px;
      margin: 0 auto;
      display: block; }
    .advantages-content .wrapper div p {
      font-weight: 700;
      font-size: 16px;
      color: #fff;
      width: 150px; }

/*--------------------------------------------------------------
	Footer
--------------------------------------------------------------*/
footer {
  background-color: #2e2e2e; }
  footer .containers {
    padding: 0; }
    footer .containers ul {
      display: inline-block;
      margin-bottom: 0; }
    footer .containers p, footer .containers li {
      margin: 20px 0;
      display: inline-block;
      color: #cdcdcd; }
    footer .containers span {
      font-weight: bold; }
    footer .containers li {
      cursor: pointer;
      padding-left: 20px; }
      footer .containers li:hover {
        color: #0295db; }
    footer .containers .col-lg-3, footer .containers .col-md-4 {
      text-align: right; }

/*--------------------------------------------------------------
	Services Section
--------------------------------------------------------------*/
.services-content hr {
  background-color: #7f7f7f;
  width: 90%;
  text-align: center;
  margin: 50px auto; }
.services-content h4 {
  font-size: 28px;
  text-align: left;
  margin-left: 0;
  color: #0295db; }
.services-content p {
  text-align: justify;
  font-size: 18px;
  margin-top: 5px;
  color: #cdcdcd; }
.services-content .row > div {
  padding: 0;
  margin: 0 auto;
  width: 100%; }
.services-content .col-md-4 {
  height: 100%; }
.services-content .wrapper {
  position: relative; }
  .services-content .wrapper .img-cover {
    width: 100%; }
  .services-content .wrapper .right-corner, .services-content .wrapper .right-corner-flip, .services-content .wrapper .left-corner {
    width: 15%;
    bottom: 10px;
    position: absolute; }
  .services-content .wrapper .right-corner-flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 10px; }
  .services-content .wrapper .left-corner {
    left: 10px; }
  .services-content .wrapper .right-corner {
    right: 10px; }

/*--------------------------------------------------------------
	Gallery Section
--------------------------------------------------------------*/
.gallery-content {
  width: 100%;
  text-align: center;
  position: relative;
  padding: 50px 0; }
  .gallery-content .btt-left {
    transform: rotateY(180deg); }
  .gallery-content .containers {
    padding: 0; }
  .gallery-content .carousel-control-prev, .gallery-content .carousel-control-next {
    width: 12%;
    overflow: hidden; }
  .gallery-content .carousel-inner {
    max-height: 198px; }
  .gallery-content a:focus {
    outline: none; }

/* show 3 items */
.carousel-inner .active,
.carousel-inner .active + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item {
  display: block; }

.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
  transition: none; }

.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  position: relative;
  transform: translate3d(0, 0, 0); }

.carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
  position: absolute;
  top: 0;
  right: -25%;
  z-index: -1;
  display: block;
  visibility: visible; }

/* left or forward direction */
.active.carousel-item-left + .carousel-item-next.carousel-item-left,
.carousel-item-next.carousel-item-left + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
  position: relative;
  transform: translate3d(-100%, 0, 0);
  visibility: visible; }

/* farthest right hidden item must be abso position for animations */
.carousel-inner .carousel-item-prev.carousel-item-right {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  visibility: visible; }

/* right or prev direction */
.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
.carousel-item-prev.carousel-item-right + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
  position: relative;
  transform: translate3d(100%, 0, 0);
  visibility: visible;
  display: block; }

/* Bootstrap Lightbox using Modal */
#profile-grid {
  overflow: auto;
  white-space: normal; }

#profile-grid .profile {
  padding-bottom: 40px; }

#profile-grid .panel {
  padding: 0; }

#profile-grid .panel-body {
  padding: 15px; }

#profile-grid .profile-name {
  font-weight: bold; }

#profile-grid .thumbnail {
  margin-bottom: 6px; }

#profile-grid .panel-thumbnail {
  overflow: hidden; }

#profile-grid .img-rounded {
  border-radius: 4px 4px 0 0; }

/*--------------------------------------------------------------
	Responsive Styles - Media Queries
--------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
  .topic-content .icon-picker-right, .topic-content .icon-picker-left {
    top: 45px;
    min-width: 110px; }
  .topic-content .icon-picker-left {
    right: 40px; }

  .partners-content .containers {
    padding: 50px 40px; }

  .gallery-content .carousel-inner {
    max-height: 164.31px; }

  .competence-content .card__face--back {
    padding: 40px 20px; } }
@media screen and (max-width: 991px) {
  header {
    height: 95px;
    background-color: #373737;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    header .main-navbar {
      display: none; }
    header .header-logo {
      padding: 0; }
      header .header-logo img {
        position: absolute;
        top: 15px;
        left: 20px; }
    header .menu-button {
      display: block !important;
      background-color: #2e2e2e;
      transition: all 0.3s ease 0s;
      border: 0;
      color: transparent;
      cursor: pointer;
      position: fixed;
      z-index: 3;
      outline: none;
      top: 25px;
      right: 25px;
      height: 48px;
      width: 48px; }
      header .menu-button .lines {
        display: block;
        position: absolute;
        height: 3px;
        width: 24px;
        transition: 0.3s;
        background-color: #cdcdcd;
        opacity: 1;
        left: 12px;
        top: 22px; }
        header .menu-button .lines:before, header .menu-button .lines:after {
          display: inline-block;
          width: 24px;
          height: 3px;
          transition: 0.3s;
          position: absolute;
          left: 0;
          content: '';
          background-color: #cdcdcd;
          transform-origin: 0.26rem center; }
        header .menu-button .lines:after {
          top: -8px; }
        header .menu-button .lines:before {
          top: 8px; }
    header .main-navbar {
      background-color: #373737;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      line-height: 1;
      z-index: 1001;
      position: absolute;
      top: 70px;
      padding: 30px; }
      header .main-navbar .menu {
        display: block; }
        header .main-navbar .menu ul {
          width: 100%;
          padding: 0; }
          header .main-navbar .menu ul li {
            display: block;
            text-align: left;
            padding: 0px 6px;
            margin: 0;
            width: 100%;
            border-top: thin solid #cdcdcd; }
            header .main-navbar .menu ul li:last-child {
              border-bottom: thin solid #cdcdcd; }
            header .main-navbar .menu ul li a {
              color: #fff;
              margin-top: 0;
              margin-bottom: 2px;
              text-transform: none;
              width: 100%;
              display: block;
              padding: 13px 11px;
              transition: all 0.5s;
              font-weight: 300;
              line-height: 1; }
      header .main-navbar .dropdown {
        display: block;
        position: relative;
        line-height: 25px;
        padding: 10px;
        text-align: left; }
        header .main-navbar .dropdown .dropbtn {
          padding: 0px 6px;
          margin: 0;
          position: relative; }
          header .main-navbar .dropdown .dropbtn img {
            display: none !important; }
          header .main-navbar .dropdown .dropbtn span {
            display: inline-block;
            position: absolute;
            height: 3px;
            width: 15px;
            background-color: #cdcdcd;
            left: -8px;
            top: 11px; }
          header .main-navbar .dropdown .dropbtn span:nth-child(1) {
            transform: rotate(45deg); }
          header .main-navbar .dropdown .dropbtn span:nth-child(2) {
            transform: rotate(90deg); }
          header .main-navbar .dropdown .dropbtn p {
            display: inline-block;
            color: #fff;
            font-size: 20px;
            position: relative;
            left: 8px; }

  header.show-menu .menu-button .lines {
    background-color: transparent; }
    header.show-menu .menu-button .lines:before, header.show-menu .menu-button .lines:after {
      transform-origin: 50% 50%;
      top: 0; }
    header.show-menu .menu-button .lines:before {
      transform: rotate3d(0, 0, 1, 45deg); }
    header.show-menu .menu-button .lines:after {
      transform: rotate3d(0, 0, 1, -45deg); }
  header.show-menu .main-navbar {
    display: block; }

  .slider-content {
    margin-top: 95px; }
    .slider-content .slide-line .containers {
      padding: 20px 10px;
      width: 95%; }
      .slider-content .slide-line .containers .col-md-5 {
        text-align: center; }
      .slider-content .slide-line .containers .icon-picker p {
        font-size: 18px; }
      .slider-content .slide-line .containers .icon-picker:last-child {
        padding-right: 0; }
      .slider-content .slide-line .containers .textBottom h2 {
        font-size: 26px; }
      .slider-content .slide-line .containers .textBottom a {
        width: 50%;
        font-size: 14px;
        padding: 10px 30px; }

  .competence-content .card:first-child:hover {
    background-color: #2e2e2e; }
  .competence-content .containers {
    width: 70%; }
  .competence-content .scene {
    height: 300px; }
  .competence-content .col-sm-6 {
    padding: 15px; }

  .topic-content .icon-picker-right, .topic-content .icon-picker-left {
    top: 25px;
    width: 14%; }
    .topic-content .icon-picker-right img, .topic-content .icon-picker-left img {
      width: 80%; }
    .topic-content .icon-picker-right h3, .topic-content .icon-picker-left h3 {
      font-size: 16px; }
    .topic-content .icon-picker-right .topic-link, .topic-content .icon-picker-left .topic-link {
      display: block; }
      .topic-content .icon-picker-right .topic-link p, .topic-content .icon-picker-left .topic-link p {
        font-size: 12px; }
  .topic-content .icon-picker-left {
    right: 20px; }
  .topic-content .icon-picker-right {
    left: 10px; }
  .topic-content span {
    opacity: 0.8;
    filter: alpha(opacity=80); }

  .partners-content .containers {
    padding: 50px 0; }
  .partners-content h2 {
    text-align: center !important;
    padding-bottom: 35px !important; }

  .services-content p {
    font-size: 16px; }
  .services-content hr {
    margin: 30px auto; }
  .services-content .wrapper .right-corner, .services-content .wrapper .right-corner-flip, .services-content .wrapper .left-corner {
    bottom: 7px; }
  .services-content .wrapper .right-corner-flip {
    right: 7px; }
  .services-content .wrapper .left-corner {
    left: 7px; }
  .services-content .wrapper .right-corner {
    right: 7px; }

  .gallery-content .carousel-item {
    width: 100%; }
  .gallery-content .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%; }
  .gallery-content .carousel-inner {
    max-height: 289px; }

  #btt-link:hover {
    background-color: #2e2e2e; } }
@media screen and (max-width: 767px) {
  header {
    position: relative; }
    header .menu-button {
      position: fixed; }
    header .main-navbar {
      background-color: #00448e;
      width: 90%;
      padding: 0 40px;
      height: 100%;
      line-height: 1.785714285;
      right: 73px;
      top: 0;
      position: fixed;
      transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1); }
      header .main-navbar .menu {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        header .main-navbar .menu ul {
          text-transform: none;
          font-size: 22px;
          font-weight: 300;
          letter-spacing: 2px;
          transform: translate3d(0, 100%, 0);
          transition: transform 0s cubic-bezier(0.7, 0, 0.3, 1) 0.4s; }
          header .main-navbar .menu ul li {
            padding-top: 8px;
            padding-bottom: 8px;
            z-index: 3;
            position: relative;
            border: none !important;
            margin: 0 15px; }
            header .main-navbar .menu ul li .active {
              color: #fff; }
            header .main-navbar .menu ul li:hover {
              opacity: 0.7; }
              header .main-navbar .menu ul li:hover img {
                margin-left: 0px;
                margin-right: 20px; }
            header .main-navbar .menu ul li img {
              display: inline-block;
              width: 20px;
              vertical-align: middle;
              margin-bottom: 5px;
              margin-right: 10px;
              margin-left: 10px; }
            header .main-navbar .menu ul li a {
              display: inline-block;
              width: auto; }
              header .main-navbar .menu ul li a:hover {
                color: #fff; }
      header .main-navbar .dropdown {
        padding-left: 41px;
        top: 15%;
        transform: translateY(-15%); }
        header .main-navbar .dropdown .dropbtn {
          transform: translate3d(0, 100%, 0);
          transition: transform 0s cubic-bezier(0.7, 0, 0.3, 1) 0.4s; }
          header .main-navbar .dropdown .dropbtn:hover {
            opacity: 0.7; }
            header .main-navbar .dropdown .dropbtn:hover span {
              left: -15px; }
          header .main-navbar .dropdown .dropbtn span {
            width: 18px; }
          header .main-navbar .dropdown .dropbtn p {
            font-size: 22px;
            letter-spacing: 2px;
            left: 25px; }

  header.show-menu .menu-button {
    background-color: #00448e; }
  header.show-menu .main-navbar {
    display: block;
    transform: translateZ(0);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0.15s;
    left: -13px;
    -webkit-animation: blah 2s; }
    header.show-menu .main-navbar ul {
      transform: translateZ(0);
      transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1); }
      header.show-menu .main-navbar ul li {
        transition-duration: .1s linear; }
  @keyframes blah {
    100% {
      left: 50%; } }
  .slider-content {
    margin-top: 0; }
    .slider-content .slide-line .containers .icon-picker p {
      font-size: 17px; }
    .slider-content .slide-line .containers .icon-picker img {
      width: 70px; }
    .slider-content .slide-line .containers .textBottom h2 {
      font-size: 22px;
      padding-top: 5px;
      padding-bottom: 20px; }
    .slider-content .slide-line .containers .textBottom a {
      font-size: 13px;
      padding: 10px 20px; }

  .competence-content .containers {
    width: 85%; }
  .competence-content .scene {
    height: 260px; }
  .competence-content .card__face--back {
    padding: 30px 20px; }
  .competence-content .col-sm-6 {
    padding: 5px; }

  .topic-content .icon-picker-right, .topic-content .icon-picker-left {
    top: 60px;
    width: 21%; }
    .topic-content .icon-picker-right img, .topic-content .icon-picker-left img {
      width: 100%; }
    .topic-content .icon-picker-right h3, .topic-content .icon-picker-left h3 {
      font-size: 20px; }
    .topic-content .icon-picker-right .topic-link > p, .topic-content .icon-picker-left .topic-link > p {
      font-size: 15px; }
  .topic-content .row > div:first-child {
    margin-bottom: 20px; }
  .topic-content .icon-picker-left {
    right: 40px; }
  .topic-content .icon-picker-right {
    left: 40px; }

  .advantages-content p {
    font-size: 16px; }
  .advantages-content .wrapper div p {
    width: auto; }

  .services-content .row > div {
    display: block;
    padding: 0 15px; }
  .services-content .smallHr {
    margin: 10px auto; }
  .services-content h4 {
    margin-top: 8px; }
  .services-content .wrapper .right-corner, .services-content .wrapper .right-corner-flip, .services-content .wrapper .left-corner {
    bottom: 15px; }
  .services-content .wrapper .right-corner-flip {
    right: 25px; }
  .services-content .wrapper .left-corner {
    left: 20px; }
  .services-content .wrapper .right-corner {
    right: 20px; }

  .contact-content .info {
    margin-bottom: 20px;
    padding-right: 15px; }

  footer .containers .col-sm-12, footer .containers .col-lg-3, footer .containers .col-md-4 {
    text-align: center; }
  footer .containers .row {
    padding: 10px 0; }
  footer .containers .col-lg-3 p, footer .containers .col-md-4 p {
    margin-top: 0; }
  footer .containers li {
    padding-left: 5px; } }
@media screen and (max-width: 575px) {
  .slider-content .img-slider {
    width: auto;
    height: 280px; }
  .slider-content .img-slider-vehicles {
    position: relative;
    left: 50%;
    margin-left: -320px; }
  .slider-content .slide-line {
    max-height: 100%;
    height: 100%; }
    .slider-content .slide-line .containers {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0; }
      .slider-content .slide-line .containers h1 {
        font-size: 30px; }
      .slider-content .slide-line .containers .icon-picker {
        padding-bottom: 10px; }
        .slider-content .slide-line .containers .icon-picker p {
          font-size: 16px; }
        .slider-content .slide-line .containers .icon-picker img {
          width: 70px; }
      .slider-content .slide-line .containers .textBottom h2 {
        font-size: 22px;
        text-align: center; }
      .slider-content .slide-line .containers .textBottom a {
        margin: 0 auto;
        padding: 8px 15px; }

  .competence-content .card {
    width: 80%;
    margin: 0 auto; }

  .topic-content .icon-picker-right, .topic-content .icon-picker-left {
    top: 40px; }
    .topic-content .icon-picker-right h3, .topic-content .icon-picker-left h3 {
      font-size: 18px; }
    .topic-content .icon-picker-right .topic-link p, .topic-content .icon-picker-left .topic-link p {
      font-size: 14px; }

  .partners-content .containers img {
    height: 50px; }

  .advantages-content .wrapper div p {
    font-size: 14px; }

  .contact-content p {
    margin: 0 10px; } }
@media screen and (max-width: 500px) {
  .topic-content .icon-picker-right img, .topic-content .icon-picker-left img {
    width: 80%; }
  .topic-content .icon-picker-right h3, .topic-content .icon-picker-left h3 {
    font-size: 16px; }
  .topic-content .icon-picker-right .topic-link p, .topic-content .icon-picker-left .topic-link p {
    font-size: 12px; }
  .topic-content .icon-picker-left {
    right: 20px; }
  .topic-content .icon-picker-right {
    left: 20px; }

  .services-content .wrapper .right-corner, .services-content .wrapper .right-corner-flip, .services-content .wrapper .left-corner {
    bottom: 5px; } }
@media screen and (max-width: 390px) {
  .topic-content .icon-picker-right, .topic-content .icon-picker-left {
    top: 24px; }
    .topic-content .icon-picker-right img, .topic-content .icon-picker-left img {
      width: 70%; }
    .topic-content .icon-picker-right h3, .topic-content .icon-picker-left h3 {
      font-size: 14px; }
    .topic-content .icon-picker-right .topic-link p, .topic-content .icon-picker-left .topic-link p {
      font-size: 10px; }
  .topic-content .icon-picker-left {
    right: 10px; }
  .topic-content .icon-picker-right {
    left: 10px; }

  .partners-content .containers .imgLeft {
    position: relative;
    right: 5%; } }

/*# sourceMappingURL=style.css.map */
